.home {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 100vh;
}

.homeleft {
  background-image: linear-gradient(to right, rgb(238, 115, 115), brown);

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
}
.homeright {
  padding: 2vmax;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: pink;
}

.homeUser {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.homeUser > img {
  height: 3vmax;
  width: 3vmax;
  margin: 1vmax;
  border-radius: 40%;
  border: 1px solid rgb(240, 128, 128);
  transition: all .3s ease-in-out;
}
.homeUser > img:hover{
  border-radius: 100%;
  transform: scale(1.2);
  border: 1px solid silver;
}

.homeUser:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 697px) {
  .home {
    grid-template-columns: 2fr 1fr;
  }

  .homeleft {
    padding: 0;
    min-height: 90vh;
  }
}
